.container{
    display: flex;
}

.error{
    margin-top: 50px;
    font-size: 28px;
    font-weight: 600;
    color: red;
}

.switch{
    display: flex;
    justify-content: center;
}

.switch__button{
    padding: 20px 200px;
}