* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper{
  max-width: 1440px;
  width: 100%;
  display: flex;
}

.link{
  text-decoration: none;
  background: transparent;
  color: #8a8a8a;
  padding: 5px 10px;
  border: 1px solid #8a8a8a;
  transition: background .5s, color .5s;
}

.link:hover{
  color: #ffffff;
  background: #565656;
}